/*CSS Style for the page and responsiveness to different devices.
i.e Desktop, Tablet and Mobile*/

/**https://www.w3schools.com/Css/css3_flexbox.asp**/
/**--https://internetingishard.com/html-and-css/responsive-design**/
/**https://www.w3schools.com/cssref/pr_margin.asp**/
/**https://github.com/ino1sr/udacity-build-a-portfolio-site/blob/master/docs/index.html**/

/*Mobile Mode*/

@media only screen and (min-width: 0px) {

    body {
        margin: auto;
        padding: 0 10px;
    }

    /*Header*/
    header {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width:100%;
    }

    .logo {
        width: 60px;
        height: 60px;
        display: block;
    }

    .name_title {
        align-self: center;
        text-align: right;
    }

/*Content of Portfolio*/

    .image-style {
        width: 100%;
        display: grid;
    }

    .sub-container {
        margin: 1em 0;
        border-bottom: 5px solid #654321;
    }

    .featured-work {
        padding-top: 1.4em;
    }

    .margin-under-content {
        margin-bottom: 20px;
    }

    .color-text-container {
        padding-bottom: 15px;
    }
}

/*Tablet mode*/
@media only screen and (min-width: 360px) {

    /*Main content*/
    .featured-work {
        display: flex;
        justify-content: space-between;
    }

    .first-project {
        margin: 0 10px 0 0;
        justify-content: center;
    }

    .third-project {
        margin: 0 0 0 10px;
    }

}


/**Desktop Mode**/
@media only screen and (min-width: 1280px) {

  .logo {
      width: 80px;
      height: 80px;
  }
    .body {
        display: flex;
        max-width: 1000px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    /*Header*/
    .header {
        order: 6;
        height: 50px;
        margin: 0 20px;
        width: 100%;
        max-width: 855px;
    }

    .line {
    width:100%;
    border: 1.5px solid brown;
}

    /*Main content*/
    .flex-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .sub-container {
        border-bottom: 1.5px solid brown;
        width:100%;
    }

}
